div.g-recaptcha-container{
    margin:0 auto;
    display: inline-block;
}
@media (min-width:1200px) {
    div.g-recaptcha-container{
        margin-bottom: 20px;
    }
}
#contact-button-list li {
    padding: 5px;
}
#message_sent-alert-success p {
    color: #000000;
}
span.contact_request-feedback {
    top: 25px !important;
    right: 10px;
}
